#ids{
color:red;
}

#header .header_menu a {
    color: #00a6d5 !important;
}

#header .header_menu a:hover {
    color: #ffffff !important;
}

.carousel-inner .item img {
    max-height: 600px !important;
    max-width: 600px !important;
    display: block !important;
    margin: 0 auto !important;
    margin-top: 30px !important;
}

.carousel-inner .item {
    max-height: 615px !important;
}


.item {
    height: 800px !important;
}

.carousel-caption {
    display: none !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#header {
    background: rgba(0, 0, 0, 1) !important;
}

li.nav-item a {
    letter-spacing: 2px;
}

th {
    width: 30%;
}
.footercolor p {
    font-size: 15px !important;
}
li.footerli {
    margin-top: 5px;
}
#header {
    background: rgba(8, 8, 8,8);
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 70px;
}
#header .dropdown-menu {
    background: rgba(8, 8, 8, 0.64);
    border-top: 2px solid #00a6d5;
}
#header .header_menu a {
    color: #00a6d5;
    
}

#header .header_menu a {
    padding-bottom: 30px !important;
}

#header .header_menu ul.dropdown-menu a {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

#header .header_menu ul.dropdown-menu a.main-link {
    padding-top: 15px !important;
}

#header .header_menu ul.dropdown-menu a.sub-link {
    padding-left: 10px !important;
    font-size: 12.5px !important;
}

.navbar {
    margin-top: 20px;
}
.col-md-4.servks {
    margin-top: 20px;
    
}
.col-md-4.servks img{
    padding: 20px;
    border-radius: 25%;
    box-shadow: 1px 1px 10px 7px #00a6d5;
}
.col-md-4.servks img:hover{
    box-shadow: 1px 1px 10px 7px #000;
}
.homeheading{
background: #bbb;
    padding: 1%;
    box-shadow: 1px 1px 10px 1px #00a6d5;
    margin-top: 42px;
}
.main-conent__hp-block>div>a {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 10px 5px #000;
}
.item { height:400px}

.container-fluid {
    width: 100%;
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: auto;
    margin-left: auto;
}
.pad{
        margin-left: -110px;
   }

body>section>div {
    padding-top: 50px !important;
}

#header .header_menu a {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase !important;
}

footer {
    background: #000000;
    padding: 40px 0px !important;
}

.widget-title {
    margin-bottom: 20px; 
}

h3.widget-title span {
    color: #00a6d5;
    font-family: lato;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

ul.ut-sociallinks {
    margin-top: 30px;
}

ul#menu-footer-navigation-1 li, ul#menu-footer-navigation-2 li {
    display: inline-block;
    width: 45%;
    padding-bottom: 12px;
}

ul#menu-footer-navigation-1 li a, ul#menu-footer-navigation-2 li a {
    font-family: lato;
    font-size: 15px;
    margin-left: 15px;
    color: #ffffff;
}

ul#menu-footer-navigation-1 li a:before, ul#menu-footer-navigation-2 li a:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-weight: normal;
    font-style: normal;
    position: absolute;
    margin-left: -13px;
    color: #00a6d5;
}

ul.ut-sociallinks li {
    display: inline-block;
    margin-right: 25px;
}

ul.ut-sociallinks a i {
    font-size: 32px;
}

footer .block .container {
    background: #000000;
    margin-top: 0px;
}


.bottom-footer {
    background: #080808;
}

.bottom-footer p {
    color: #ffffff !important;
    font-size: 14px !important;
    font-family: Lato !important;
    padding: 20px 0 10px 0px !important;
}

.bottom-footer p a {
    color: #00a6d5;
    font-size: 14px;
}

ul.ut-sociallinks i.fa.fa-facebook:before {
    color: #4e598f !important;
}

ul.ut-sociallinks i.fa.fa-instagram:before {
    color: #6c27b3 !important;
}

ul.ut-sociallinks i.fa.fa-linkedin:before {
    color: #4376b1 !important;
}

ul.ut-sociallinks i.fa.fa-twitter:before {
    color: #65a2d9 !important;
}

ul.ut-sociallinks i.fa.fa-youtube:before {
    color: #d22215 !important;
}

.cta-1 {
    background: #000000 !important;
}

.cta-1 h1 {
    letter-spacing: 1px !important;
    font-family: Lato !important;
    text-align: center !important;
    font-size: 38px !important;
    color: #00a6d5 !important;
    font-weight: 500 !important;
    word-spacing: 5px !important;
    text-transform: uppercase;
}

.cta-1 h3 {
    color: #ffffff !important;
    font-size: 24px !important;
    margin-top: 0px !important;
    margin-bottom: 40px !important;
    font-family: Lato !important;
}

.cta-1 a {
    border-radius: 0px !important;
    background: #00a6d5 !important;
    border-color: #00a6d5 !important;
    color: #ffffff !important;
    font-family: Lato !important;
    text-transform: uppercase !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    transition: padding 0.5s ease, background 0.5s ease, border-color 0.5s ease, color 0.5s ease !important;
}

.cta-1 a:hover {
    padding: 10px 25px !important;
    color: #294e6e !important;
    background: #ffffff !important;
    border-color: #ffffff !important;
}

.cta-1 .link {
    margin-bottom: 35px !important;
}

.cta-2 {
    background: #294e6e !important;
}

.cta-2 h3 {
    color: #ffffff !important;
    font-size: 24px !important;
    line-height: 32px !important;
    margin-top: 0px !important;
    margin-bottom: 40px !important;
    font-family: Lato !important;
    padding: 0 15% !important;
}

.cta-2 a {
    border-radius: 0px !important;
    background: #ffffff !important;
    border-color: #ffffff !important;
    color: #000000 !important;
    font-family: Lato !important;
    text-transform: uppercase !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    transition: padding 0.5s ease, background 0.5s ease, border-color 0.5s ease, color 0.5s ease !important;
}

.cta-2 a:hover {
    padding: 10px 25px !important;
    color: #294e6e !important;
    background: #ffffff !important;
    border-color: #ffffff !important;
}

p {
    font-family: 'Poppins', sans-serif !important;
    color: #333333 !important;
    font-size: 16px !important;
    line-height: 28px !important;
}

h1 {
    letter-spacing: 1px !important;
    font-family: Lato !important;
    text-align: center !important;
    font-size: 42px !important;
    color: #00a6d5 !important;
    font-weight: 500 !important;
    word-spacing: 5px !important;
}

h3 {
    font-family: Lato !important;
    font-weight: 600 !important;
    font-size: 28px !important;
    color: #000000 !important;
}

h4 {
    font-family: Lato !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #000000 !important;
}

.servks h2 {
    color: #000000 !important;
    font-size: 22px !important;
    font-family: Lato !important;
}

.icon-wrap {
    border: solid 2px #b90000 !important;
}

.icon-wrap i {
    color: #b90000 !important;
}

.servks:hover .icon-wrap {
    background: #b90000 !important;
}

.servks:hover .icon-wrap i {
    color: #ffffff !important;
}

.container.services {
    background: none !important;
}

section#main-conent {
    padding: 75px 0 !important;
}

table {
    border: none !important;
    margin-top: 40px !important;
}

th {
    background-color: #294e6e;
    border: 1px solid #294e6e !important;
    color: #ffffff !important;
    text-align: left;
    font-family: lato !important;
    font-size: 18px;
    padding-left: 0px !important;
    padding: 20px 8px !important;
}

th.bulletin {
    width: 15% !important;
}

th.release {
    width: 15% !important;
}

th.model {
    width: 15% !important;
}

th.type {
    width: 15% !important;
}

th.document {
    width: 20% !important;
}

th.manual-download {
    width: 10% !important;
}

.heading-space {
    margin-bottom: 30px !important;
}

.row.service-buttons {
    margin: 40px 0 !important;
}

a.button {
    border-radius: 0px !important;
    background: #00a6d5 !important;
    border-color: #00a6d5 !important;
    color: #ffffff !important;
    font-family: Lato !important;
    text-transform: uppercase !important;
    font-size: 17px !important;
    display: inline-block !important;
    width: 100% !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: 10px 0px !important;
    transition: padding 0.5s ease, background 0.5s ease, border-color 0.5s ease, color 0.5s ease !important;
}

a.button:hover {
    color: #ffffff !important;
    background: #b90000 !important;
    border-color: #b90000 !important;
    text-decoration: none !important;
}

.padding-20 {
    padding: 20px 0 !important;
}

.padding-10 {
    padding: 10px 0 !important;
}

.f-serice__pricing-table {
    background: #294e6e;
}

.f-serice__pricing-table span {
    color: #ffffff;
    font-size: 22px !important;
}

.table-block {
    margin-bottom: -20px !important;
    padding-top: 15px !important;
}

.f-service__pricing-desc .table-block {
    background: #294e6e !important;
    margin-bottom: 0px !important;
}

.f-service__pricing-desc .table-block p {
    color: #ffffff !important;
    margin-bottom: 0px !important;
}

.f-service__pricing-desc>div {
    padding: 25px 25px !important;
}

.icon i {
    font-size: 42px !important;
    color: #b90000 !important;
}

.contact h4, .contact h4 a {
    font-size: 18px !important;
    font-family: Lato !important;
    line-height: 24px !important;
    color: #000000 !important;
}

.row.contact-form {
    background: #294e6e !important;
    padding-bottom: 60px !important;
}

.row.contact-form label {
    display: block !important;
    text-align: left !important;
    color: #ffffff !important;
    font-family: Lato !important;
    font-size: 16px !important;
}

.row.contact-form input, .row.contact-form select {
    width: 100% !important;
    padding: 8px 10px !important;
    margin-bottom: 20px !important;
}

.row.contact-form textarea {
    width: 100% !important;
    height: 150px !important;
    margin-bottom: 20px !important;
}

.row.contact-form .btn-info {
    border-radius: 0px !important;
    background: #00a6d5 !important;
    border-color: #00a6d5 !important;
    color: #ffffff !important;
    font-family: Lato !important;
    text-transform: uppercase !important;
    font-size: 17px !important;
    display: inline-block !important;
    width: 100% !important;
    font-weight: 600 !important;
    text-align: center !important;
    padding: 10px 0px !important;
    transition: padding 0.5s ease, background 0.5s ease, border-color 0.5s ease, color 0.5s ease !important;
    margin-bottom: 20px !important;
}

.row.contact-form .btn-info:hover {
    color: #294e6e !important;
    background: #ffffff !important;
    border-color: #ffffff !important;
    text-decoration: none !important;
}

#header .dropdown-menu {
    background: rgba(1, 1, 1, 1);
    border-top: 2px solid #00a6d5;
    border-radius: 0px !important;
}

.img-wrap img {
    border: solid 2px #b90000 !important;
    border-radius: 50%;
}

span.trademark.big {
    font-size: 20px !important;
    vertical-align: text-top !important;
}

span.trademark {
vertical-align: text-top !important;
font-size: 12px !important;
}


@media only screen  and (max-width : 1366px) {


}

@media only screen  and (max-width : 1440px) {



}


@media only screen  and (max-width : 1680px) {



}


@media  screen and (max-width: 1920px) and (min-height: 1200px) {



}

@media  screen and (min-width: 1920px) {
    


}



@media (max-width: 767px) {
    
/* #mainmanuks .navbar-expand-md .navbar-nav .dropdown-menu {
    position: inherit !important; 
} */

.navbar-collapse.in {
    overflow-y: visible !important;
}

.header_menu {
    background: black !important;
    height: auto !important;
}

.navbar-nav {
    margin: 20px 0px 6.5px 1px !important;
}

#header .header_menu a {
    padding: 5px 15px !important;
}

#header .header_menu a {
    font-size: 13px !important;
    letter-spacing: 1.5px !important;
}

#menu-wrap>div>div {
    padding-left: 0px !important;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 0, 0, 1);
    border-color: rgba(255, 0, 0, 0.1);
    border-radius: 0px !important;
    position: absolute;
    right: 20px;
    top: 25px;
}

.pad {
    margin-left: 0 !important;
    position: absolute;
    left: 15px;
}

.navbar-collapse {
    border-top: 0px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1) !important;
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1) !important;
}

ul.header_menu li {
    padding-left: 15px;
}

ul.dropdown-menu {
    display: block !important;
    border: none !important;
    margin-top: -5px !important;
}

#header .header_menu ul.dropdown-menu a.main-link {
    padding-top: 0px !important;
}

#header .dropdown-menu li a:before {
    content: '∙';
    font-size: 2em !important;
    line-height: 0px !important;
    vertical-align: sub !important;
    padding-right: 5px !important;
}

.carousel-inner {
    margin-bottom: 15px !important;
}

.carousel-inner .item {
    height: auto !important;
    min-height: auto !important;
}

.bottom-footer {
    padding: 10px 0 !important;
}

.bottom-footer p {
    padding: 0px 0 0px 0px !important;
    text-align: center !important;
    float: none !important;
    margin-bottom: 0px !important;
}

.servks {
    margin: 20px auto;
    margin-bottom: 45px !important;
}

.cta-1 h1 {
    font-size: 32px !important;
}

.cta-1 h3 {
    font-size: 22px !important;
}

h1 {
    font-size: 32px !important;
}

a.button {
    margin-bottom: 15px !important;
}

.bk-logo-portal {
    display: none !important;   
}

.cta-2 h3 {
    padding: 0 5% !important;
}

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    
.cta-1 a {
    padding: 7.5px 10px !important;
    font-size: 15px !important;
}

#myCarousel .carousel-inner .item img {
    min-height: 305px;
}

}

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {

.cta-1 a {
    padding: 7.5px 10px !important;
    font-size: 15px !important;
}

#myCarousel .carousel-inner .item img {
    min-height: 305px;
}

}
