/* common rules */

.hidden_block{
    display: none;
    z-index: 1;
}
ul{
   list-style: none;
    margin: 0;
    padding: 0;
}
.font-bold{
    font-weight: bold;
}
.font-12{
    font-size: 12px;
}
.font-18{
    font-size: 18px;
}
.font-24{
    font-size: 24px;
}
.font-note{
    font-style: italic;
}
.margin-tb-15{
    margin: 15px auto;
}
.margin-tb-35{
    margin: 35px auto;
}
.margin-tb-50{
    margin: 50px auto;
}
.padding-tb-100{
    padding: 100px 15px 0;
}
.padding-tb-50{
    padding: 50px 15px;
}
.padding-tb-15{
    padding: 15px 0;
}
.ovf-hidden{
    overflow: hidden;
}
.no-margin{
    margin: 0;
}
.margin-auto{
    margin: auto;
}
.width-50{
    width: 50%;
}
body>section>div{
    padding-top: 50px;
}
.errors_container{
    color: red;
    text-align: left;
    margin-bottom: 15px;
}
.error_input{
    border: 1px solid red;
}


/*
    header
 */
#header{
    background: rgba(34,44,122,.8);
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header_menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.header_menu>li{
    line-height: 50px;
}
#menu-wrap>div>a{
    color: #eef;
}
#header .header_menu a{
    color: #eef;
    padding: 0;
    text-decoration: none;
    background: none;
}
#header .header_menu a:hover{
    color: #ccd
}
#header .dropdown-menu{
    background: rgba(34,44,122,.8);
}
#header .dropdown-menu li{
    padding-left: 10px;
}
/* home page */
.main-conent__container>div{
    float: left;
}
.main-conent__hp-description div{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}
.main-conent__hp-description p{
    margin: 3px 0;
}
.main-conent__hp-block{
    height: 70vh;
    min-height: 500px;
    margin: 10px 0;
    cursor: pointer;
}
.main-conent__hp-block>div{
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/***/
.hp__sup_material>div{
    background-image: url("./../img/hp/Support1.jpg");
}
.hp__sup_material:hover>div{
    background-image: url("./../img/hp/Support2.jpg");
}
.main-conent__hp-block>div>a{
    display: block;
    width: 100%;
    height: 100%;
}
.hp__repair>div{
    background-image: url("./../img/hp/Repair1.jpg");
}
.hp__repair:hover>div{
    background-image: url("./../img/hp/Repair2.jpg");
}
.hp__parts>div{
    background-image: url("./../img/hp/Parts1.jpg");
}
.hp__parts:hover>div{
    background-image: url("./../img/hp/Parts2.jpg");
}
.hp__bulletins>div{
    background-image: url("./../img/hp/Bulletins1.jpg");
}
.hp__bulletins:hover>div{
    background-image: url("./../img/hp/Bulletins2.jpg");
}
.hp__service>div{
    background-image: url("./../img/hp/Centers1.jpg");
}
.hp__service:hover>div{
    background-image: url("./../img/hp/Centers2.jpg");
}
.hp__contact>div{
    background-image: url("./../img/hp/Contact1.jpg");
}
.hp__contact:hover>div{
    background-image: url("./../img/hp/Contact_temp2.jpg");
}
/***/


/* factory service */
#f-service>div:first-child{
    margin: 25px 0;
}
#f-service>div:nth-child(2)>p{
    margin: 15px 0;
}
/*factory service pricing*/
.f-serice__pricing-table{
    width: 60%;
    margin: auto;
    background: #d8d8d8;
    overflow: hidden;
}
.f-serice__pricing-table span{
    color: red;
    display: block;
    text-align: center;
}
.f-serice__pricing-table table{
    width: 100%;
    text-align: center;
    background: white;
}
.f-serice__pricing-table table td{
    border: 1px solid gray;
    padding: 5px 0;
}
.f-service__pricing-desc{
    width: 60%;
    overflow:hidden;
    border: 1px solid gray;
}
.f-service__pricing-desc>p{
    background: #d8d8d8;
}
.f-service__pricing-desc>div{
    padding: 25px 70px;
}
/* factory service dealers */
#f-service__service-container p{
    margin: 50px 0;
}
#f-service__service-container  a{
    display: block;
}
/* factory service dealers */
#f-service__warranty>p:first-child span{
    display: block;
    font-weight: bold;
}
#f-service__warranty>p:last-child span{
    font-size: 18px;
    display: block;
}
#f-service__warranty>p:last-child a{
    display: block;
    margin: 10px 0;
}

/* parts */
.parts__common-replacement{
    text-align: center;
    margin-top: 50px;
}
.parts_cr-header p{
    margin: 0;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-bottom: none;
}
.parts_cr-content{
    border: 1px solid black;
    display: flex;
}
.parts_cr-menu{
    border-right: 1px solid black;
    width: 20%;
}
.parts_cr-menu li{
    border: 1px solid black;
}
.parts_cr-menu a{
    padding: 10px 0;
    display: block;
    height: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.parts_cr-menu a:hover{
    background: #2E316E;
    color: white;
    font-style: italic;
}
.parts_cr-text{
    width: 80%;
    padding: 15px 70px;
}
.parts_cr-text span{
    display: block;
}
.parts_cr-text a{
    display: block;
    margin: 15px 0;
}

/* products */
.products__header{
    margin-top: 50px;
}
.products__header>span{
    display: block;
}
.products__links>a{
    display: block;
    margin: 15px 0;
}

/* software */

/* software update */
.su__header{
    margin-top: 50px;
}
.su__content>div{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.su__content input{
    width: 25%;
}
.su__content p:last-child{
    margin-top: 25px;
}

/*bulletins*/
.bk__header{
    margin: 50px 0 0;
}
.bk__table{
    margin: 25px 0;
    overflow: auto;
}
.bk__table table{
    min-width: 510px;
}
.bk__table table td{
    padding: 5px 10px;
    border: 1px solid black;
}

/*contact*/

#contact h3{
    margin-top: 25px;
}
.contact_new_ul li{
    display: inline-block;
    width: 150px;
    margin: 15px 0;
}

/* email contact */
.ce_header{
    margin-top: 50px;
}
.ce__contact-form{
    width: 50%;
    margin: auto;
    text-align: left;
}
.ce__contact-form-bl__container{
    display: flex;
    margin: 15px 0;
}
.ce__contact-form-bl>input, .ce__contact-form-bl>select{
    float: right;
    margin-right: 15px;
    width: 180px;
}
.ce__contact-form-bl{
    display: inline-block;
    width: 50%;
}
.ce__contact-form__fax{
    text-align: center;
}
.ce__contact-form-textarea>*{
    display: block;
    width: 100%;
}
.ce__contact-form-bl-buttons{
    text-align: center;
    margin: 25px 0;
}

/* forums */
.forums__forum-i>div{
    height: 70vh;
    min-height: 500px;
    margin: 10px 0;
    cursor: pointer;
    float: left;
}
.forums__forum-i>div>div{
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.forums__forum-i>div:first-child>div{
    background-image: url("./../img/forums/RELM_dark.jpg");
}
.forums__forum-i>div:first-child>div:hover{
    background-image: url("./../img/forums/relm_light.jpg");
}
.forums__forum-i>div:last-child>div{
    background-image: url("./../img/forums/RELMBK_Light.jpg");
}
.forums__forum-i>div:last-child>div:hover{
    background-image: url("./../img/forums/RelmBK_Dark.jpg");
}

/* auth */

/* auth login */
#login-content{
    overflow: hidden;
}
.login_container{
    width: 250px;
    text-align: center;
    margin: 150px auto 0;
}
.login_container form>div{
    margin-bottom: 15px;
}
.login_container label, .login_container input{
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    padding-left: 5px;
}
.lc__registration_link{
    margin: 15px 0;
}

/* auth register */

#register-content{
    overflow: hidden;
}
.register_container{
    width: 500px;
    text-align: center;
    margin: 50px auto 0;
}
.register_container form>div{
    margin-bottom: 15px;
    display: inline-block;
    width: 49%;
}
.register_container label, .register_container input{
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    height: 30px;
    padding-left: 5px;
}
.register_container select{
    width: 100%;
    height: 30px;
}
.rc__registration_link{
    margin: 15px 0;
}

/* user page  */
.my_page_container{
    text-align: center;
}
.relm_admin_page, .government_login{
    background: rgb(255, 255, 153);
    padding-bottom: 30px;
}
.my_page_container h3{
    text-align: center;
    padding: 20px 0;
    background: rgb(0, 153, 204);
}
.my_page_container .row{
    margin-bottom: 40px;
}
.repair_form_links__container{
    overflow-x: auto;
}
.repair_form_links{
    margin: auto;
}
.repair_form_links td:first-child{
    text-align: left;
}
.repair_form_links td{
    text-align: right;
}




@media (max-width: 1199px) {
    .main-conent__hp-block{
        min-height: 0;
        height: 400px;
    }
    .f-service__pricing-desc{
        height: auto;
    }
    .f-service__pricing-txt{
        width: 90% !important;
    }
    .f-serice__pricing-table,.f-service__pricing-desc{
        width: 100%;
    }
    .su__content>div{
        width: 90%;
    }
    .ce__contact-form{
        width: 60%;
    }
}
@media (max-width: 991px) {
    .header_menu{
        font-size: 14px;
    }
    .main-conent__hp-block{
        height: 300px;
    }
    .parts_cr-menu{
        width: 30%;
    }
    .parts_cr-text{
        width: 70%;
        padding: 15px 30px;
    }
    .su__content>div{
        width: 100%;
    }
    .su__content>div span{
        width: 33%;
    }
    .ce__contact-form{
        width: 80%;
    }
    .forums__forum-i>div{
        height: 50vw;
        min-height: 0;
    }
    #forums+div+div>form{
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .header_menu{
        display: block;
        height: auto;
    }
    #header .dropdown-menu li{
        padding-left: 20px;
    }
    .header_menu{
        font-size: 16px;
    }
    .dropdown-menu{
        background: transparent !important;
    }
    #menu-wrap>div>div{
        padding-left: 15px;
    }
    .main-conent__hp-block{
        height: 60vw;
    }
    .f-service__pricing-desc>div{
        padding: 10px 15px;
    }
    .parts_cr-menu{
        font-size: 15.5px;
        min-width: 110px;
    }
    .parts_cr-text{
        padding: 15px 10px;
        font-size: 14px;
        max-height: 560px;
        overflow: auto;
    }
    .su__content>div{
        display: block;
    }
    .su__content>div>div{
        margin: 15px 0;
    }
    .ce__contact-form{
        width: 100%;
        font-size: 14px;
    }
    .ce__contact-form-bl>input, .ce__contact-form-bl>select{
        width: 140px;
    }
    .login_container{
        width: 60%;
        min-width: 250px;
        margin-top: 50px;
    }
    .register_container{
        width: 60%;
        min-width: 250px;
    }
    .register_container>form>div{
        width: 100%;
        display: block;
    }
}
@media (max-width: 470px) {
    .ce__contact-form-bl__container{
        display: block;
    }
    .ce__contact-form-bl{
        width: 100%;
        text-align: center;
    }
    .ce__contact-form-bl>input, .ce__contact-form-bl>select{
        display: block;
        margin: auto;
        float: none;
        width: 80%;
    }
    .ce__contact-form__fax>*{
        display: block;
        margin: auto;
        width: 80%;
    }
}


section#main-conent {
    padding: 50px 0;
}
.col-md-6 h3 {
    font-weight: bold!important;
}

.table p {
font-size: 14px !important;
}
