body
{
    font-family: 'Roboto', sans-serif;
}

.header-top-content h3 {
    font-size: 16px;
    font-weight: 500;
    color: #2a4e6e;
    margin-bottom: 0;
    padding: 5px 0;
}

.header-top-content h3 a {
    color: #2a4e6e;
    /* margin-bottom: 0; */
}

.header-top-content h3 i {
    margin-right: 10px;
}

.header-top {
    padding: 5px 0;
}

.page-box {
    margin: 40px auto;
    max-width: 850px;
    padding: 0px 0 40px 0;
    border-bottom: 5px solid #244d6e;
    border: 1px solid #e2e2e2;
}

.box-heading {
    background-color: #244d6e;
    padding: 20px 10px;
}

.box-heading h2 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    text-align: center;
}
.btn-label
{
    font-size: 18px;
    font-weight: 500;
}
.box-content {
    padding: 40px 40px 0 40px;
}
.mt-40
{
    margin-top: 40px;
}
.btn-wrap
{
    margin-bottom: 5px;
}
.table-top {
    padding: 40px 0;
}
.as-table thead
{
    background-color: #244d6e;
    color: #fff;
}

.main-footer {
    border-top: 1px solid #e2e2e2;
    padding: 15px 0;
}

.main-footer p {
    text-align: center;
    margin-bottom: 0;
}

.form-page {
    padding: 40px 20px;
}

.form-heading {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}

.md-form select {
    border: none;
    border-bottom: 1px solid #ced4da;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.md-form select:focus {
    -webkit-box-shadow: 0 1px 0 0 #4285f4;
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #4285f4;
}

.checkbox-heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.complaint-box {
    margin-top: 60px;
}

.complaint-box .custom-checkbox {
    margin-bottom: 10px;
}

.warranty-checkbox
{
    margin-bottom: 20px;
}
.login-card
{
    max-width: 650px;
    margin: 60px auto;
}
.as-login-form
{
    text-align: center;
    color: #757575;
}

.page-main {
    min-height: 68vh;
}

.success-message {
    text-align: center;
}

.success-message i.fa-check-circle {
    font-size: 120px !important;
    color: #00bd00;
}

.success-message p {
    margin: 20px 0;
    font-size: 20px;
}

.success-message p.person-name {
    font-weight: 700;
}

.calfire-tables {
    margin-bottom: 40px;
    border-bottom: 1px solid #d0d0d0;
}

.calfire-tables table {
    margin-bottom: 0;
}

.calfire-tables thead tr th {
    font-size: 20px;
    text-align: center;
}

.table-body-heading {
    font-size: 18px;
    font-weight: 500;
    width: 75%;
}
.table-body-heading.width-25
{
    width: 25%;
}
.as-table {
    width: 100%;
    overflow-x: auto;
}
@media only screen and (max-width: 600px) {
    .header-top-content {
        border-top: 1px solid #dcdcdc;
        margin-top: 10px;
        padding-top: 10px;
    }
    .table-body-heading {
        width: 65%;
    }
    .table-body-heading.width-25
    {
        width: 35%;
    }
}

/*delete confirmation modal styling*/
body {
    font-family: 'Varela Round', sans-serif;
}
.modal-confirm {
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/*border property*/

.bordertop {
    border-top: 3px solid red;
}

.pad{
    margin-left: -50px;
}
.fas{
    padding: 5px;
}

i.fas.fa-phone {
    transform: rotate(90deg);
}

.main-footer {
    margin-top: 60px !important;
    background: #244d6e !important;
    color: #ffffff !important;
}

.btn-primary {
    background:#244d6e !important;
}

.btn-info {
    background: #244d6e !important;
}

.btn-default {
    background: #B90000 !important;
    /*background: #76bf4c !important*/
}

.as-table thead {
    background: #244d6e !important;
}

.btn-success {
    background: #244d6e !important
}
/*nav bar  color*/
.info-color{background-color:#244d6e!important}

.bk-color{
    color: #244d6e!important;
}
.hove_effect:hover{
    text-decoration: underline;
}

.usfs_pad{
    width: auto;
    height: 85px;
}

h2{
    color: #00a6d5 !important;
}


body
{
    font-family: Lato !important;
}

.page-box {
    max-width: inherit !important;
}

h2 strong {
    color: #ffffff !important;
}


@media (max-width: 767px) {

.bk-logo-portal {
    display: none !important;   
}

}
